data/pga-versions-community-guidelines.csv filter=lfs diff=lfs merge=lfs -text
data/pga-versions-terms-of-service.csv filter=lfs diff=lfs merge=lfs -text
data/pga-versions-privacy-policy.csv filter=lfs diff=lfs merge=lfs -text
