[submodule "pga-versions"]
	path = pga-versions
	url = https://github.com/OpenTermsArchive/pga-versions.git
[submodule "pga-corpus"]
	path = pga-corpus
	url = https://github.com/PlatformGovernanceArchive/pga-corpus.git
